.appointment-page{
    display: flex;

}

body{
    background-image: url('../../../public/barber-shop-pic.png');
    background-size: cover; /* Pour couvrir toute la zone du body */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pour ne pas répéter l'image */
    backdrop-filter: blur(5px); /* La valeur de flou en pixels */
}


  

.center-div{
    width: 60vw;
    
}
.left-side{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;

}


.nav-button{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

#next-button-active{
    cursor: pointer;
}


.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.right-side-centered-box{
    display: block;
    justify-content: center;
    align-items: center;

}
.schedule-display{
    display:flex;
}
