
#btn-form-shop-settings{
    font-size: large;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;

}

.lunch-time{
    margin-top: 0;
    margin: 0 0 0 2rem;
    display: block;
}
.lunch-time>div{
    margin-top: 0.5rem;
}
option{
    text-align: center;
}
.shop-confirmation-message{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.shop-confirmation-message#success{
    background-color: #EDF7ED;
    color:#638064;
}
.shop-confirmation-message#error{
    background-color: #FDEDED;
    color:#6E3434;
}
.confirmation-form-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}

.shop-form:hover input {
    border: 1px solid black;
    border-radius: 0.25rem;
}
.shop-form:hover select {
    border: 1px solid black;
}
.shop-form> div{
    margin-top: 1.25rem;
    font-size: large;
}
.shop-form input, .shop-form select{
    float: right;
    height: 1.5rem;
    font-size: large;
    text-align: right;
    border: 1px solid transparent;
}

.shop-form input#appointment-duration{
    width: 3rem;
    text-align: center;
}
.shop-form input#Address{
    width: 70%;
}

.shop-form input#lunchTime{
    margin-right: 1rem;
}

.shop-form{
    width: 50%;
    height: auto;
    margin: 5rem 2.5rem ;
    border-radius: 2.5rem;
}

.shop-settings{
    width: 45vw;
}