.booking-summary{
    background-color: #1B1E26;
    width: 15vw;
    height: 40vh;
    border: 2px solid #8D8272;
    padding: 1rem;
    color:white;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1); /* Augmentation de la taille de l'ombre */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.booking-summary-footer{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: flex-end;

}

.booking-summary-footer>{
  row-gap: 10px;
}

.booking-infos{
  flex:1;
  font-size:1.35rem;
}

.centered-bottom-div{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1.5rem ;
}

.confirmed-booking{
  background-color: #EDF7ED;
  color:#638064;
  width: 100%;
  height: auto;
  padding: 0.5rem 0.75rem 0.5rem 0rem;
  font-size:1.35rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.confirmed-booking-ionIcons{
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.confirmed-booking-text-container{
  flex:1;
}


.confirm-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  
  .confirm-button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .confirm-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .confirm-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .confirm-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

 
  
  .error-booking{
    background-color: #FDEDED;
    color:#6E3434;
    width: 100%;
    height: auto;
    padding: 0.5rem 0.75rem 0.5rem 0rem;
    font-size:1.35rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;

  }
  
  .error-booking-ionIcons{
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
  .error-booking-text-container{
    flex:1;
  }
  

h2{
    text-align: center;
}

.input-field{
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.spinner {
  width: 2rem;
  height: 2rem;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}



ul.list-left-side, ul.list-right-side{
    list-style-type:none;
    list-style: none;
}

ul li{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

ul.list-left-side{
    float:left;
    width: 35%;
}

ul.list-right-side{
    text-align: end;
    float:right;
    width: 65%;
}



